/* Common styling of the components*/

#common {
    -fx-background-image: url("../images/poker_table.jpg");
    -fx-background-size: cover;
    -fx-pref-height: 400px;
    -fx-pref-width: 600px;
    -fx-alignment: center;
}

#back_button {
    -fx-background-radius: 5;
}

#main_menu {
    -fx-alignment: center;
}

.main_button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.main_button:hover {
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-cursor: hand;
}

.main_button:pressed {
    -fx-background-color: black;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-cursor: hand;
}

#forgot_text {
    -fx-text-fill: #00f3f3;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-underline: true;
    -fx-border-width: 0;
}

#forgot_text:hover {
    -fx-text-fill: white;
}

#forgot_text:pressed {
    -fx-text-fill: black;
}

.form_label {
    -fx-text-fill: white;
}

#login_form_container {
    -fx-alignment: center;
}

#login_text {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-background-color: black;
}

#login_form {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
}

#login_form_return_button {
    -fx-alignment: center;
    -fx-background-radius: 5;
}

#register_form_container {
    -fx-alignment: center;
}

#register_text {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-background-color: black;
}

#register_form {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
}

#register_form_return_button {
    -fx-alignment: center;
    -fx-background-radius: 5;
}

#reset_password_form_container {
    -fx-alignment: center;
}

#reset_password_text {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-background-color: black;
}

#reset_password_form {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
}

#reset_password_form_return_button {
    -fx-alignment: center;
    -fx-background-radius: 5;
}

#user_menu {
    -fx-alignment: center;
}

.user_button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.user_button:hover {
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-cursor: hand;
}

.user_button:pressed {
    -fx-background-color: black;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-cursor: hand;
}

#leaderboard_label {
    -fx-alignment: center;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-color: black;
}

.table-view .column-header {
    -fx-background-color: #ff5400;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-style: DejaVu Serif;
    -fx-font-size: 18.0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:odd{
    -fx-background-color: #ff5400;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #be1d00;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

#pagination_table_view .table-column {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

#game_table {
    -fx-background-size: cover;
    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
}

#scoreboard {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

.player_label {
    -fx-background-color: black;
    -fx-background-radius: 10;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-alignment: center;
}

.score_label {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-alignment: center;
}

#levelboard {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#level_text_label {
    -fx-background-color: black;
    -fx-background-radius: 10;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-alignment: center;
}

#level_no_label {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-alignment: center;
}

#game_button_container {
    -fx-alignment: center;
}

#bluff_button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

#bluff_button:hover {
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-cursor: hand;
}

#bluff_button:pressed {
    -fx-background-color: black;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-cursor: hand;
}

#challenge_button {
    -fx-background-color: linear-gradient(#105801, #8ebb00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

#challenge_button:hover {
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(#105801, #8ebb00);
    -fx-cursor: hand;
}

#challenge_button:pressed {
    -fx-background-color: black;
    -fx-text-fill: linear-gradient(#105801, #8ebb00);
    -fx-cursor: hand;
}

#dont_challenge_button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

#dont_challenge_button:hover {
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-cursor: hand;
}

#dont_challenge_button:pressed {
    -fx-background-color: black;
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-cursor: hand;
}